<div class="page-container" *ngIf="pages.length > 0">
  
  <div class="header">
    <div class="logo">Condumax</div>
    <div class="title-block">
      <h1>REGISTRO DE MONITORAMENTO DO PROCESSO - MEDIÇÃO / EMBALAGEM - COMERCIAL</h1>
    </div>
    <div class="info-block">
      <table>
        <tr>
          <td>RMP-009</td>
          <td>Revisão: 001</td>
          <td>Data: 01/04/2020</td>
        </tr>
        <tr>
          <td colspan="3">Plano de Controle: Nº 009</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="control-table">
      <thead>
        <tr>
          <th rowspan="2" class="col-item">ITEM</th>
          <th rowspan="2" class="col-prod">Código do Produto</th>
          <th rowspan="2" class="col-lote">Lote</th>
          
          <th colspan="8" class="group-header">PARÂMETRO DE CONTROLE</th>
          
          <th rowspan="2" class="col-falhas">Nº de Falhas<br>Spark Test</th>
          <th rowspan="2" class="col-turno">Turno</th>
          <th rowspan="2" class="col-operador">Registro do<br>Operador</th>
          <th rowspan="2" class="col-data">Data</th>
          <th rowspan="2" class="col-laudo">Laudo<br>A/R</th>
          <th rowspan="2" class="col-check">Conferir equipamentos de medição e teste? (OK ou S/OK)</th>
        </tr>

        <tr class="vertical-row">
          <th><div class="vertical-text">Diâmetro Externo</div></th>
          <th><div class="vertical-text">Aspecto Visual</div></th>
          <th><div class="vertical-text">Centragem</div></th>
          <th><div class="vertical-text">Gravação</div></th>
          <th><div class="vertical-text">Cor</div></th>
          <th><div class="vertical-text">Resistência</div></th>
          <th><div class="vertical-text">Alongamento</div></th>
          <th><div class="vertical-text">Oxidação</div></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of pages[currentPageIndex].items; let i = index">
          
          <td class="center">{{ (currentPageIndex * 20) + i + 1 }}</td>
          
          <td><input type="text" [(ngModel)]="row.codigo_produto" [disabled]="isReadOnly"></td>
          <td><input type="text" [(ngModel)]="row.lote" [disabled]="isReadOnly"></td>
          
          <td class="center"><input type="checkbox" [(ngModel)]="row.param_diametro" [disabled]="isReadOnly"></td>
          <td class="center"><input type="checkbox" [(ngModel)]="row.param_aspecto" [disabled]="isReadOnly"></td>
          <td class="center"><input type="checkbox" [(ngModel)]="row.param_centragem" [disabled]="isReadOnly"></td>
          <td class="center"><input type="checkbox" [(ngModel)]="row.param_gravacao" [disabled]="isReadOnly"></td>
          <td class="center"><input type="checkbox" [(ngModel)]="row.param_cor" [disabled]="isReadOnly"></td>
          <td class="center"><input type="checkbox" [(ngModel)]="row.param_resistencia" [disabled]="isReadOnly"></td>
          <td class="center"><input type="checkbox" [(ngModel)]="row.param_alongamento" [disabled]="isReadOnly"></td>
          <td class="center"><input type="checkbox" [(ngModel)]="row.param_oxidacao" [disabled]="isReadOnly"></td>

          <td><input type="number" [(ngModel)]="row.n_falhas_spark" [disabled]="isReadOnly" class="input-small"></td>
          <td><input type="text" [(ngModel)]="row.turno" [disabled]="isReadOnly" class="input-small"></td>
          <td><input type="text" [(ngModel)]="row.registro_operador" [disabled]="isReadOnly"></td>
          <td><input type="text" [(ngModel)]="row.data" [disabled]="isReadOnly" placeholder="dd/mm"></td>
          
          <td>
            <select [(ngModel)]="row.laudo_ar" [disabled]="isReadOnly">
              <option value=""></option>
              <option value="A">A</option>
              <option value="R">R</option>
            </select>
          </td>

          <td class="center"><input type="checkbox" [(ngModel)]="row.conferir_equipamentos" [disabled]="isReadOnly"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPageIndex === 0">Anterior</button>
    <div class="page-indicators">
      <span *ngFor="let page of pages; let i = index" (click)="goToPage(i)" [class.active]="i === currentPageIndex">{{ i + 1 }}</span>
    </div>
    <button (click)="nextPage()" [disabled]="currentPageIndex === pages.length - 1">Próxima</button>
  </div>

  <div class="form-actions" *ngIf="!isReadOnly">
     <button class="remove-button" *ngIf="pages.length > 1" (click)="removePage()">Remover Página</button>
     <button (click)="addPage()">+ Nova Página</button>
     <button (click)="submitAndClear()">Salvar</button>
  </div>

</div>