<p>process-monitoring-form works!</p>
<div class="page-container" *ngIf="formConfig">
  <div class="header">
    <div class="logo">Condumax</div>
    <div class="title-block">
      <h1>{{ formConfig.header.title }}</h1>
      <h2>{{ formConfig.header.subtitle }}</h2>
    </div>
    <div class="info-block">
      <table>
        <tr>
          <td>{{ formConfig.header.code }}</td>
          <td>{{ formConfig.header.revision }}</td>
        </tr>
        <tr>
          <td colspan="2">{{ formConfig.header.date }}</td>
        </tr>
      </table>
    </div>
  </div>

  <table>
    <tr>
      <td [attr.colspan]="formConfig.generalInfo.rows[0].length" class="section-title">{{ formConfig.generalInfo.title }}</td>
    </tr>
    <tr *ngFor="let row of formConfig.generalInfo.rows">
      <td *ngFor="let field of row" [attr.colspan]="field.colspan" [attr.rowspan]="field.rowspan" [style]="field.style">
        <span *ngIf="field.label">{{ field.label }} </span>
        <input *ngIf="field.model" type="text" [(ngModel)]="formData[field.model]">
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td [attr.colspan]="formConfig.rawMaterials.headers.length" class="section-title">{{ formConfig.rawMaterials.title }}</td>
    </tr>
    <tr>
      <th *ngFor="let header of formConfig.rawMaterials.headers.slice(0, 3)" class="text-center">{{ header }}</th>
      <th [attr.colspan]="formConfig.rawMaterials.headers.length - 3" class="text-center">Rastreabilidade dos condutores:</th>
    </tr>
    <tr class="rastreabilidade-header text-center">
      <td></td><td></td><td></td>
      <td *ngFor="let header of formConfig.rawMaterials.headers.slice(3)">{{ header }}</td>
    </tr>
    <tr *ngFor="let i of [].constructor(formConfig.rawMaterials.rows); let index = index">
      <td>Material {{ index + 1 }}</td>
      <td *ngFor="let j of [].constructor(formConfig.rawMaterials.headers.length - 1)"><input type="text" /></td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="5" class="section-title">{{ formConfig.processChecklist.title }}</td>
    </tr>
    <tr>
      <th class="text-center" style="width: 25%;">Item a ser verificado</th>
      <th class="text-center">OK</th>
      <th class="text-center">NOK</th>
      <th colspan="2" class="text-center">Observações <br><span style="font-weight: normal;">(Preencher se aplicável e sem apagar)</span></th>
    </tr>
    <tr *ngFor="let item of formConfig.processChecklist.items; let i = index">
      <td>{{ item.left.label }}</td>
      <td class="checkbox-cell"><input type="checkbox" [(ngModel)]="formData[item.left.model].ok" (change)="toggleCheckbox(formData[item.left.model], 'ok')"></td>
      <td class="checkbox-cell"><input type="checkbox" [(ngModel)]="formData[item.left.model].nok" (change)="toggleCheckbox(formData[item.left.model], 'nok')"></td>
      <td *ngIf="i === 0" [attr.rowspan]="formConfig.processChecklist.items.length" colspan="2">
          <table class="nested-table-full-border">
              <tr *ngFor="let rightItem of formConfig.processChecklist.items">
                  <td style="width: 80%;">{{ rightItem.right.label }}</td>
                  <td class="checkbox-cell"><input type="checkbox" [(ngModel)]="formData[rightItem.right.model].ok" (change)="toggleCheckbox(formData[rightItem.right.model], 'ok')"></td>
                  <td class="checkbox-cell"><input type="checkbox" [(ngModel)]="formData[rightItem.right.model].nok" (change)="toggleCheckbox(formData[rightItem.right.model], 'nok')"></td>
              </tr>
          </table>
      </td>
    </tr>
    <tr>
        <td colspan="5" class="text-bold">{{ formConfig.processChecklist.verificationSection.title }}</td>
    </tr>
    <tr>
      <td colspan="5">
          <div class="grid-container">
              <div class="grid-item">
                  <table class="nested-table">
                      <tr *ngFor="let item of formConfig.processChecklist.verificationSection.items">
                          <td>{{ item.label }} <input type="text" [(ngModel)]="formData[item.model]"></td>
                      </tr>
                  </table>
              </div>
              <div class="grid-item">
                  <table class="nested-table-full-border">
                      <thead>
                          <tr>
                              <th class="text-bold">{{ formConfig.processChecklist.testsSection.title }}</th>
                              <th *ngFor="let header of formConfig.processChecklist.testsSection.headers" class="text-bold text-center">{{ header }}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of formConfig.processChecklist.testsSection.items">
                              <td><span [innerHTML]="item.label"></span></td>
                              <td><input type="text" [(ngModel)]="formData[item.model + '_inicio']"></td>
                              <td><input type="text" [(ngModel)]="formData[item.model + '_fim']"></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </td>
    </tr>
  </table>

  <table>
    <tr>
        <td colspan="2" class="section-title">{{ formConfig.insulationQuality.title }}</td>
    </tr>
    <tr>
        <td class="text-bold text-center" style="width:50%">{{ formConfig.insulationQuality.labels[0] }}</td>
        <td class="text-bold text-center" style="width:50%">{{ formConfig.insulationQuality.labels[1] }}</td>
    </tr>
    <tr>
        <td class="diagram-section">
            <div class="diagram-container"><div class="diagram-circle"></div><div class="caption">Colar o anel sobre aqui do ponto inferior (PI)</div></div>
            <div class="diagram-container"><div class="diagram-circle"></div><div class="caption">Colar o anel sobre aqui do ponto inferior (PI)</div></div>
        </td>
        <td></td>
    </tr>
    <tr class="text-center text-bold">
        <td>Tipo de camada</td>
        <td>Dimensional</td>
    </tr>
    <tr>
        <td rowspan="3" class="text-center text-bold" style="width:50%;">{{ formConfig.insulationQuality.dimensional.layer }}</td>
        <td style="width:50%;">
            <div *ngFor="let metric of formConfig.insulationQuality.dimensional.metrics" class="metric-item">
                <span>{{ metric.label }}</span>
                <input type="text" [(ngModel)]="formData[metric.model]">
            </div>
        </td>
    </tr>
  </table>

  <table style="margin-top: 20px;">
    <tr><td colspan="10" class="section-title">{{ formConfig.tools.title }}</td></tr>
    <tr class="text-center text-bold">
      <td [attr.colspan]="formConfig.tools.headers.length">Ferramentas</td>
      <td [attr.colspan]="formConfig.tools.cleaning.options.length">{{ formConfig.tools.cleaning.title }}</td>
      <td rowspan="2">{{ formConfig.tools.report.label }}</td>
      <td colspan="2" rowspan="2">{{ formConfig.tools.result.label }}</td>
    </tr>
    <tr class="text-center text-bold">
      <td *ngFor="let header of formConfig.tools.headers">{{ header }}</td>
      <td *ngFor="let option of formConfig.tools.cleaning.options">{{ option.label }}</td>
    </tr>
    <tr>
      <td *ngFor="let header of formConfig.tools.headers"><input type="text" [(ngModel)]="formData['tool_' + header]"></td>
      <td *ngFor="let option of formConfig.tools.cleaning.options" class="checkbox-cell">
        <input type="checkbox" [(ngModel)]="formData[option.model]" (change)="toggleCleaningCheckbox(option.model)">
      </td>
      <td><input type="text" [(ngModel)]="formData.rnc"></td>
      <td colspan="2">
        <input type="checkbox" [(ngModel)]="formData.laudo.aprovado" (change)="toggleCheckbox(formData.laudo, 'aprovado')"> Aprovado
        <input type="checkbox" [(ngModel)]="formData.laudo.reprovado" (change)="toggleCheckbox(formData.laudo, 'reprovado')"> Reprovado
      </td>
    </tr>
  </table>

  <table class="no-border" style="margin-top: 10px;">
    <tr>
      <td style="width: 33%;">{{ formConfig.footer.author }}<div class="signature-box"></div></td>
      <td style="width: 33%;">{{ formConfig.footer.approver }}<div class="signature-box"></div></td>
      <td style="width: 34%;" class="attention-box">{{ formConfig.footer.attention }}</td>
    </tr>
  </table>
</div>