<div class="page">
  <div class="panel">
    <img class="logo" src="/assets/imagens/LOGO-CONDUMAX-espanhol-branca-inicio.png" alt="Condumax" />

    <h1>Painel Administrativo</h1>

    <form [formGroup]="form" (ngSubmit)="login()">
      <label>Usuário</label>
      <input type="text" formControlName="user" placeholder="Digite o usuário" required />

      <label>Senha</label>
      <input type="password" formControlName="senha" placeholder="Digite a senha" required />

      <button type="submit" [disabled]="form.invalid">Entrar</button>
    </form>

    <p class="mensagem-erro" *ngIf="erroLogin">Usuário ou senha inválidos</p>
  </div>
</div>
